*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#010758,#490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: red;
   font-weight: 800;
   font-style: italic;
}
textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    color: #fff;
    font-size: 16px; 
}
.row{
    width: 600px;
    display: flex;
    gap: 20px;
   
}
.row button{

    border-radius: 35px;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row button img{
    width:16px;
    margin-right: 10px;

}
select{
    flex: 1;
    color: white;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(/Gezish_private/images/arrow-down-sign-to-navigate.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x:95% ;
    background-position-y: 20px;
}
@media (max-width: 768px){
    .hero{
    background: linear-gradient(45deg,#e9e9f0,#44d60f);
    color: rgb(18, 17, 17);
}
.hero h1 span{
    color: red;
   font-weight: 500;
   font-style: italic;
}
.hero h1{
    font-size: 25px;
    font-weight: 300;
    margin-top: -50px;
    margin-bottom: 50px;
}
textarea{
    width: 350px;
    height: 150px;
    background: #37a205;
    color: rgb(250, 243, 243);
    font-size: 10px;
}
.row{
    width: 100px;
    display: flex;
    gap: 10px;
   align-items: center;
   justify-content: center;
}
.row button{

    border-radius: 15px;
    font-size: 10px;

}
select{
    
    width: 200px;
    height: 40px;
   background:#37a205;
}
}